body{
    margin: 0;
}
* {box-sizing: border-box;
}



/*=======Header=======*/

.intro {
	background-image: url(Gora1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	height: 780px;
}

.header {
}

.tur{
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	top:210px;
	left: 438px;
	font-size:11px;
	position: absolute;
	}
.tur:hover{
	color: black;
	font-size: 200px;
	text-decoration: none;
	font-family: Tahoma;
	left: none;
	text-shadow:1px 1px 2px black, 0 0 10px white;
	transition: all 2s ease 0s;  
	}

.foto{
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	top:210px;
	left:490px;
	font-size:11px;
	position: absolute;
	transition: font-size 2s, transform 5s;
}
.foto:hover{
	color: white;
	font-size: 12px;
	text-decoration: none;
	font-family: Tahoma;
	left: none;
	text-shadow:1px 1px 2px black, 0 0 1em white;
	transform: rotate(18000deg);
	}

.us{
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	top:210px;
	right:500px;
	font-size:11px;
	position: absolute;
	animation: anime 2s linear 0s infinite alternate;
}
.us:hover{
	color: white;
	font-size: 12px;
	text-decoration: none;
	font-family: Tahoma;
	left: none;
	text-shadow:1px 1px 2px black;
}

.contact{
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	top:210px;
	right:400px;
	font-size:11px;
	position: absolute;
}
.contact:hover{
	color: white;
	font-size: 12px;
	text-decoration: none;
	font-family: Tahoma;
	left: none;
	text-shadow:1px 1px 2px black;
}

.woman{
	background-image: url(woman.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: scroll;
}

@keyframes anime {
	0% {transform: scale(0);}
	20% {transform: scale(1);}
	50% {transform: scale(2);}
	70% {transform: scale(1);}
	100% {transform: scale(0);}
}


/*=====Container=====*/
.container {
	width:100%;
	max-width: 1170px;
	margin: 0 auto;
}