body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
}

*:before,
*:after {
	box-sizing: border-box;
}


/*======Container======*/

.container {
	background-color: white;
	width: 100%;
	height: 3200px;
	background-size: cover;
	background-position: center center;
	margin-top: 0px;
}


/*======Header Background======*/

.header__fon {
	background-image: url(Gora1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	height: 780px;
    display: flex;
}


/*=====Header Button=====*/

.header__words {
	padding: 210px 438px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav {
	display: flex;
}


.tur {
	color: #fff;
	text-decoration: none;
	font-size:11px;
	position: absolute;
	left: 438px;
	opacity: 0.95;
}


.foto {
	color: #fff;
	text-decoration: none;
	font-size:11px;
	position: absolute;
	left: 490px;
	opacity: 0.95;
}

.us {
	color: #fff;
	text-decoration: none;
	font-size:11px;
	position: absolute;
	left: 750px;
	opacity: 0.95;
}

.contact {
	color: #fff;
	text-decoration: none;
	font-size:11px;
	position: absolute;
	left: 802px;
	opacity: 0.95;
}



/*=====Header Button Animation=====*/

.tur:hover {
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-shadow:1px 1px 2px black;
	position: absolute;
	opacity: 1;
	transition: 0.15s;
}

.foto:hover {
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-shadow:1px 1px 2px black;
	position: absolute;
	opacity: 1;
	transition: 0.15s;
}

.us:hover {
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-shadow:1px 1px 2px black;
	position: absolute;
	opacity: 1;
	transition: 0.15s;
}

.contact:hover {
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-shadow:1px 1px 2px black;
	position: absolute;
	opacity: 1;
	transition: 0.15s;
}